<% include partials/header %>
<h1>Create new post</h1>
<form id="newpostform" method="POST" action="/posts">
    Title: <br>
    <input type="text" name="title"><br>
    Content: <br>
    <input type="text" name="body"><br>
    <input type="submit">
</form>
<% include partials/footer %>
